
mat-card{
    width: 40%;
    box-shadow: 2px 10px 10px;
    padding: 2%;
    margin:  1% auto;
}
button{
    
    color: white;
    margin: auto;
}
.image1 {
    position: absolute;
    top: 200px;
    right:40px;
  }
  .image2 {
    width: 18%;
    position: absolute;
    top: 200px;
    left: 16px;
  }