
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>flash_on</mat-icon>
  </button>
  <span>Flash Cards</span>
  <span class="example-spacer"></span>
  <button mat-raised-button extended (click)="toggle()">
    <mat-icon>swap_horizontal_circle</mat-icon>
    Card/Table toggle
  </button>&nbsp;&nbsp;
  <button mat-raised-button extended (click)="Add()">
    <mat-icon>add_to_photos</mat-icon>
    Add
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
