
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>dashboard</mat-icon>
  </button>
  <span>Flash Cards</span>
  <span class="example-spacer"></span>
  <button mat-raised-button extended (click)="toggle()">
    <mat-icon>swap_horizontal_circle</mat-icon>
    Card/Table toggle
  </button>&nbsp;&nbsp;
  <button mat-raised-button extended (click)="Add()">
    <mat-icon>add_to_photos</mat-icon>
    Add
  </button>
</mat-toolbar>
<!-- <h1>Welcome to FlashCards Website</h1>
<h3>Flashcards help students to engage in active recall or a process wherein students actively engage in learning by stimulating our memories and creating lasting connections to the material. <br>
In this Website you can add,edit and delete your Cards and use them to revise your concepts.</h3> -->
<router-outlet></router-outlet>
